body {
    background-color: rgb(143, 143, 212);
    font-family: sans-serif;
    text-align: center;
}

.hide {
    display: none;
}

h1 {
    color: aliceblue;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#subheadder {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#start {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 5px;
    padding: 6px;
    color: aliceblue;
    border-radius: 4px;
    background-color: rgb(110, 73, 145);
    cursor: pointer;
}

#start:hover {
    border: 2px solid black inset;
    background-color: rgb(93, 41, 141);
    ;
}

#timer {
    color: black;
    margin: 10px auto;
    max-width: 150px;
    font-size: 15px;
    background-color: white;
    border: 1px black solid;
    padding: 4px;
}

.window {
    background-color: aliceblue;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 8px;
    padding: 30px;
}

.window h2 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    text-align: center;
    font-size: 20px;

}

#options {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    justify-items: center;
    margin: 10px auto;
    transition: all .5s;
    cursor: pointer;
}

.next {
    font-size: 20px;
    margin: 5px;
    padding: 6px;
    color: aliceblue;
    border-radius: 4px;
    background-color: rgb(110, 73, 145);
    cursor: pointer;

}

.punch:hover:not([disabled]) {
    background-color: white;
    color: black;
}

.wrong {
    background-color: red !important;
}

.correct {
    background-color: rgb(107, 179, 89) !important;
}

.punch {
    font-size: 15px;
    margin: 5px;
    padding: 6px;
    color: white;
    border-radius: 4px;
    background-color: rgb(189, 163, 214);
    border: 4px;
    cursor: pointer;
}

#highscores {
    margin-top: 5px;
    padding: 0 !important;
    font-weight: bold;
    list-style-position: inside;
    text-align: left;
}

.endscreen {
    margin: 5px;
    padding: 6px;
    color: aliceblue;
    border-radius: 4px;
    background-color: rgb(110, 73, 145);
    cursor: pointer;
}

.endscreen:hover {
    border: 2px solid black inset;
    background-color: rgb(93, 41, 141);
}